//  Main Styles

    // Var

        // Colors
        // basic
        $w:         #fff;
        $b:         #010101;

        // Page
        $p-l:       #7477bf;
        $p-m:       #7377bf;
        $p-d:       #4d4c72;

        // Graphs
        $green-g:   #81c98f;
        $purp-g:      $p-m;
        $teal-g:    #74b1bf;
        // End of Colors
